<launch>
<node pkg="tvc_control" type="example" name="test" output="screen"/>

<param name="x_lower" type="double" value="-0.20"/>
<param name="width_lower" type="double" value="0.25"/>
<param name="z_lower" type="double" value="-0.390"/>

<param name="x_upper" type="double" value="-0.20"/>
<param name="width_upper" type="double" value="0.25"/>
<param name="z_upper" type="double" value="-0.10"/>

</launch>
